html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background: url('..//../public/background.png') no-repeat center center fixed;
  background-size: cover;
  /* Alternatively, you can use a solid color */
  /* background-color: #f0f0f0; */
}

.header-box {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  display: inline-block; /* Shrinks the box to fit the text */
  text-align: center; /* Centers the text inside */
}